@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100%;
    background-color: #1c1c22;
    color: white;
    font-family: "JetBrains Mono", monospace;
    /* background-image: linear-gradient(rgb(145, 10, 103), rgb(218, 156, 201), rgb(60, 7, 83)); */
}


.main-intro{
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    /* animation: animate 2s linear infinite alternate; */
}

.neon-text {
    animation: animate 2s linear infinite alternate;
}

@keyframes animate {
    0% {
        color: #ffffff;
        /* text-shadow: none; */
        text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99, 0 0 15px;
    }
    100% {
        color: #ffffff;
        text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99, 0 0 15px #00ff99, 0 0 20px #00ff99, 0 0 25px #00ff99, 0 0 30px #00ff99, 0 0 35px #00ff99;
    }
}

.moving-grad {
    background-image: linear-gradient(90deg, #00ff99, #ffffff, #00ff99);
    background-size: 200%; /* Double the size to create a visible sliding effect */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-slide 3s ease-in-out infinite alternate; /* Moves the gradient to and fro */
}

@keyframes gradient-slide {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%; /* Moves the gradient across the text */
    }
}




html{
    scroll-behavior: smooth;
}

.send-plane {
    animation-name: infinity-flight;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes infinity-flight {
    0% {
        transform: translateX(0) rotate(45deg);
    }
    100% {
        transform: translateX(12px); 
    }
}

.rotator{
    animation-name: rotate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }100%{
        transform: rotate(360deg);
    }
}

.skill-detail::before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    scale: 1.005;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, #00ff99, #00ccff, #ffdf00, #00ff99);
    background-size: 200%;
    animation: gradient-slide-diagonal 4s ease-in-out infinite;
    opacity: 0; 
    transition: opacity 0.2s ease-in-out; 
}

.skill-detail:hover::before {
    opacity: 1; /* Gradually becomes visible */
}


@keyframes gradient-slide-diagonal {
    0% {
        background-position: 100% 100%; /* Start at bottom right */
    }
    100% {
        background-position: 0% 0%; /* Move to top left */
    }
}

@media (max-width: 640px) { /* Adjust the max-width as needed */
    .skill-detail::before {
      display: none; /* Hides the pseudo-element */
    }
  }